manuscript/supplemental_materials/SPARK_data.csv
manuscript/supplemental_materials/ABCD*
manuscript/code/make_figures/ARCHIVE*
manuscript/supplemental_materials/single_cell_QTL-Jerber-NatureGenetics-2021/*
manuscript/supplemental_materials/stats/HAQER_scQTL_enrichment/*
manuscript/supplemental_materials/stats/HAQER_neanderthal_enrichment/*
manuscript/figures/R_plot_objects/*
manuscript/supplemental_materials/TFBS_data/*
manuscript/code/make_paper_figures/ARCHIVE*
manuscript/supplemental_materials/stats/HAQER_vocal_learning_region_enrichment/*
manuscript/supplemental_materials/AADR_1000_genomes_ES-PGS_data.csv
manuscript/supplemental_materials/stats/birth_head_circ_GWAS_region_enrichment/*